@font-face {
    font-family: 'graphik';
    font-style: normal;
    font-weight: 400;
    src: local('Graphik'), local('Regular'),
        url(../fonts/Graphik-Regular.woff) format('woff');
}

@font-face {
    font-family: 'theinhardt';
    font-style: normal;
    font-weight: 400;
    src: local('Theinhardt'), local('lt'),
        url(../fonts/Theinhardt-Lt.woff) format('woff');
}

@font-face {
    font-family: 'tiemp';
    font-style: normal;
    font-weight: 400;
    src: local('TiemposHeadline'), local('Semibold'),
        url(../fonts/TiemposHeadline-Semibold.woff) format('woff');
}

/*********************************************/

* {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}

/***********HEADER*************************/

header>nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
}

header>nav>ul {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 15px;
    font-family: 'graphik';
    color: #3D3E41;
}

header>div>h1 {
    display: flex;
    justify-content: center;
    font-family: 'graphik';
}

header>div>img {
    width: 90vw;
}

header h2 {
    font-size: 30px;
    font-family: 'tiemp';
    padding-right: 100px;
}

header button {
    background-color: white;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

/*********MAIN****************************/

main>div {
    display: flex;
    justify-content: space-between;
}

main>div>p {
    font-family: 'graphik';
    color: #3D3E41;
    padding-left: 250px;
    padding-right: 250px;
    font-size: 20px;
}

main>div>h3 {
    font-family: 'theinhardt';
    font-size: 70px;
}

main>div>h3>span {
    color: #9FA2A7;
    font-family: 'theinhardt';
    font-size: 7px;
}

/*********MAIN SECTION***********************/

main>section {
    display: flex;
}

main>section>img {
    width: 50%;
}

main>section>div>h4 {
    font-family: 'tiemp';
    font-size: 70px;
}

main>section>div>h5 {
    font-family: 'graphik';
    font-size: 20px;
}

main>section>div>p {
    color: #9FA2A7;
    font-family: 'theinhardt';
}

/********MAIN ARTICLE******************/

main>article {
    background-color: rgb(235, 234, 234);
    display: flex;
    font-family: 'theinhardt';
}

main>article>img {
    width: 50%;
}

main>article>div>h4 {
    font-family: 'tiemp';
    font-size: 70px;
}

/********MAIN CLASS*******************/

.critique {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.critique>h4 {
    font-family: 'tiemp';
    font-size: 70px;
}

.critique>img {
    width: 70%;
    padding-top: 20px;
}

.critique>p {
    text-align: center;
    padding-right: 30%;
    padding-left: 30%;
    margin-bottom: 60px;
    font-family: 'theinhardt';
}

.critique>div {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.critique>div>p {
    font-family: 'tiemp';
    padding-left: 100px;
    padding-right: 70px;
}

.critique>div>img {
    width: 50vw;
}


/*********FOOTER*********************/


footer h4 {
    font-family: 'tiemp';
    text-align: center;
    font-size: 70px;
}

footer div {
    display: flex;
    align-items: flex-end;
    padding-left: 30%;
    font-family: 'graphik';
    color: #9FA2A7;
    padding-right: 10%;
}

footer img {
    width: 10vw;
}

footer>div>a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}



/* 
Farben: #2B2C2E /  #9FA2A7 / #27282A /  #848689 / #3D3E41 / #fff
Fonts: Graphik, TiemposHeadline, Theinhardt  */